/* Add here all your CSS customizations */

:root {
    --primary: #92278F;
    --primary-deep: #62115f99;
    --secondary: #F7941D;
    --white: rgb(253, 253, 253);
    --danger: rgb(250, 110, 67);
    --black: #000;
    --charcoal: #222;
    --grey1: #3a3b3c;
    --grey: #666;
    --grey3: #828282;
    --grey4: #eceff7;
    --grey5: #f2f2f2;
    --green: #80c41c;
    --primary-light: #4784d3;
    --primary-lighter: #b4ccfa;
    --pink: #f56680;
    --gradient: linear-gradient(178.46deg, rgba(0, 0, 0, 0.11) 1.31%, rgba(22, 22, 22, 0.57) 97.38%), linear-gradient(106.04deg, rgba(146, 39, 143, 0.6) 0%, rgba(247, 148, 29, 0.6) 100%);
    --gradient-small: linear-gradient(260.97deg, #92278F 2.55%, #F7941D 98.97%);
}

.call-to-action.call-to-action-default {
    background: var(--gradient-small);
}


.gradient{
    background: var(--gradient);
}

.title{

}

html .text-primary{
    color: var(--primary-deep);
}

html .text-secondary {
    color: var(--secondary);
}

a.page-link:hover{
	cursor: pointer;
}

a.page-link.jp-current:hover{
	cursor: none;
	color: white;
}

body{
	color: #444;
	background: #fdfdfd;
}

.bg-position-center{
	background-position: center center !important;
}

.bg-no-repeat {
    background-repeat: no-repeat !important;
}

.col-half-section.col-half-section-right {
    margin-left: 0;
    margin-right: 30px;
}

.col-half-section {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    max-width: 555px;
    margin-left: 30px;
    margin-right: 0;
}

.thumb-info .thumb-info-title {

    font-size: 15px;
    padding: 4px 12px 1px;
    bottom: 10%;
}

.thumb-info .thumb-info-type {
    margin: 0px -2px -15px 0;
}


.bounce-loader .bounce1, .bounce-loader .bounce2, .bounce-loader .bounce3{
    background-color:var(--primary);
}

.header-nav {
    font-size: 120%;
}



/****************************************************************
Nav Stuff
****************************************************************/
html .nav-color-primary nav > ul > li > a {
	color: var(--primary) !important;
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: var(--primary) !important;
}

html .nav-color-primary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: var(--primary) !important;
}

html .nav-color-secondary nav > ul > li > a {
	color: var(--green) !important;
}

html .nav-color-secondary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: var(--green) !important;
}

html .nav-color-secondary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: var(--green) !important;
}

html .nav-color-tertiary nav > ul > li > a {
	color: #0a83df !important;
}

html .nav-color-tertiary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: #0a83df !important;
}

html .nav-color-tertiary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: #0a83df !important;
}

html .nav-color-quaternary nav > ul > li > a {
	color: #e8eef3 !important;
}

html .nav-color-quaternary:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: #e8eef3 !important;
}

html .nav-color-quaternary:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: #e8eef3 !important;
}

html .nav-color-dark nav > ul > li > a {
	color: #212529 !important;
}

html .nav-color-dark:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: #212529 !important;
}

html .nav-color-dark:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: #212529 !important;
}

html .nav-color-light nav > ul > li > a {
	color: #FFF !important;
}

html .nav-color-light:not(.header-nav-main-dropdown-arrow) nav > ul > li > a:before {
	background-color: #FFF !important;
}

html .nav-color-light:not(.header-nav-main-dropdown-arrow) nav > ul > li ul {
	border-top-color: #FFF !important;
}

.nav-pills > li.active > a,
.nav-pills .nav-link.active {
	background-color: var(--primary);
}

.nav-pills > li.active > a:hover,
.nav-pills .nav-link.active:hover,
.nav-pills > li.active > a:focus,
.nav-pills .nav-link.active:focus {
	background-color: var(--primary);
}

.nav-active-style-1 > li > a:hover,
.nav-active-style-1 > li > a:focus,
.nav-active-style-1 > li > a.active {
	border-bottom-color: var(--primary);
}

html .nav-pills-primary a {
	color: var(--primary);
}

html .nav-pills-primary a:hover {
	color: #35a8ff;
}

html .nav-pills-primary a:focus {
	color: #35a8ff;
}

html .nav-pills-primary a:active {
	color: #0192ff;
}

html .nav-pills-primary .nav-link.active,
html .nav-pills-primary > li.active > a {
	background-color: var(--primary);
}

html .nav-pills-primary .nav-link.active:hover,
html .nav-pills-primary > li.active > a:hover,
html .nav-pills-primary .nav-link.active:focus,
html .nav-pills-primary > li.active > a:focus {
	background-color: var(--primary);
}

html .nav-pills-secondary a {
	color: var(--green);
}

html .nav-pills-secondary a:hover {
	color: #46c25e;
}

html .nav-pills-secondary a:focus {
	color: #46c25e;
}

html .nav-pills-secondary a:active {
	color: #35a149;
}

html .nav-pills-secondary .nav-link.active,
html .nav-pills-secondary > li.active > a {
	background-color: var(--green);
}

html .nav-pills-secondary .nav-link.active:hover,
html .nav-pills-secondary > li.active > a:hover,
html .nav-pills-secondary .nav-link.active:focus,
html .nav-pills-secondary > li.active > a:focus {
	background-color: var(--green);
}

html .nav-pills-tertiary a {
	color: #0a83df;
}

html .nav-pills-tertiary a:hover {
	color: #0e91f4;
}

html .nav-pills-tertiary a:focus {
	color: #0e91f4;
}

html .nav-pills-tertiary a:active {
	color: #0975c7;
}

html .nav-pills-tertiary .nav-link.active,
html .nav-pills-tertiary > li.active > a {
	background-color: #0a83df;
}

html .nav-pills-tertiary .nav-link.active:hover,
html .nav-pills-tertiary > li.active > a:hover,
html .nav-pills-tertiary .nav-link.active:focus,
html .nav-pills-tertiary > li.active > a:focus {
	background-color: #0a83df;
}

html .nav-pills-quaternary a {
	color: #e8eef3;
}

html .nav-pills-quaternary a:hover {
	color: #f9fafc;
}

html .nav-pills-quaternary a:focus {
	color: #f9fafc;
}

html .nav-pills-quaternary a:active {
	color: #d7e2ea;
}

html .nav-pills-quaternary .nav-link.active,
html .nav-pills-quaternary > li.active > a {
	background-color: #e8eef3;
}

html .nav-pills-quaternary .nav-link.active:hover,
html .nav-pills-quaternary > li.active > a:hover,
html .nav-pills-quaternary .nav-link.active:focus,
html .nav-pills-quaternary > li.active > a:focus {
	background-color: #e8eef3;
}

html .nav-pills-dark a {
	color: #212529;
}

html .nav-pills-dark a:hover {
	color: #2c3237;
}

html .nav-pills-dark a:focus {
	color: #2c3237;
}

html .nav-pills-dark a:active {
	color: #16181b;
}

html .nav-pills-dark .nav-link.active,
html .nav-pills-dark > li.active > a {
	background-color: #212529;
}

html .nav-pills-dark .nav-link.active:hover,
html .nav-pills-dark > li.active > a:hover,
html .nav-pills-dark .nav-link.active:focus,
html .nav-pills-dark > li.active > a:focus {
	background-color: #212529;
}

html .nav-pills-light a {
	color: #FFF;
}

html .nav-pills-light a:hover {
	color: #ffffff;
}

html .nav-pills-light a:focus {
	color: #ffffff;
}

html .nav-pills-light a:active {
	color: #f2f2f2;
}

html .nav-pills-light .nav-link.active,
html .nav-pills-light > li.active > a {
	background-color: #FFF;
}

html .nav-pills-light .nav-link.active:hover,
html .nav-pills-light > li.active > a:hover,
html .nav-pills-light .nav-link.active:focus,
html .nav-pills-light > li.active > a:focus {
	background-color: #FFF;
}

.section-scroll-dots-navigation.scroll-dots-navigation-colored > ul > li > a:before {
	background: var(--primary);
}

.sort-source-wrapper .nav > li.active > a {
	color: var(--primary);
}
